.hide-title { display: none; visibility: hidden}
#sourcelink { display: none; visibility: hidden}

/* docutils */
.docutils {
  width: 100%;
  margin-bottom: 20px;
}

.docutils th,
.docutils td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dddddd;
}

.docutils th {
  font-weight: bold;
}

.docutils thead th {
  vertical-align: bottom;
}

.docutils caption + thead tr:first-child th,
.docutils caption + thead tr:first-child td,
.docutils colgroup + thead tr:first-child th,
.docutils colgroup + thead tr:first-child td,
.docutils thead:first-child tr:first-child th,
.docutils thead:first-child tr:first-child td {
  border-top: 0;
}

.docutils tbody + tbody {
  border-top: 2px solid #dddddd;
}

.docutils .docutils {
  background-color: #ffffff;
}

.carousel-indicators {
    top:5px;
    right:50%;
}
